@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.customer-form-item {
  margin: 1rem;
}

.profile-dialog {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.details-form {
  text-align: center;
}

.add-training-form {
  text-align: center;
  margin: 2rem;
}

.delete-user {
  float: right;
}

.form-input {
  margin: 1rem;
}

.training-button {
  float: right;
}

.open-form-button {
  float: right;
  margin-left: -2rem;
}

.open-calendar {
  float: right;
}

.table-container {
  max-width: 80%;
  margin-left: 10%;
  text-align: left;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item {
  float: left;
  margin-left: 50%;
}

li div:hover {
  background-color: #111;
}

body {
  background-color: rgba(1, 1, 1, 0.85);
}

.white {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 5px;
}

tr {
  background-color: white;  
}

.some-buttons {
  margin: 1rem;
}

.profile-buttons {
}