@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.details-container {
  display: block;
  text-align: center;
  align-content: center;
}

.customer-form-item {
  background-color: rgb(216, 216, 216, 0.05);
  border-radius: 0.33rem;
  width: 10rem;
  align-content: center;
}

.savebtn {
  margin-top: 200px;
}

.add-training-form {
  text-align: center;
  margin: 2rem;
}

.delete-user {
  float: right;
}

.form-input {
  margin: 1rem;
}

.training-button {
  float: right;
}

.open-form-button {
  float: right;
  margin-left: -2rem;
}

.open-calendar {
  float: right;
}

.table-container {
  max-width: 80%;
  margin-left: 10%;
  text-align: left;
}


li div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background-color: rgba(1, 1, 1, 0.85);
}

.white {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 5px;
}
.customers tbody {
  background-color: white;  
}

.some-buttons {
  margin: 1rem;
}

